<div class="container main-container">
    <h4>Lista Funcionarios</h4>
    <hr />
    <div style="float: right;">
        <button class="btn btn-dark" [routerLink]="['/funcionario/criar']">Cadastrar</button>
        <button class="btn btn-dark" [routerLink]="['/funcionario/editar', funcionarioSelecionado]"
            [disabled]="!funcionarioSelecionado">Editar</button>
        <button class="btn btn-dark" (click)="abrirConfirmacao(modalExclusao)"
            [disabled]="!funcionarioSelecionado">Excluir</button>
    </div>
    <br>
    <br>
    <table class="table table-striped" data-click-to-select="true">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Data Admissão</th>
                <th scope="col">Salario</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let funcionario of listaFuncionarios">
                <td>
                    <div class="custom-control">
                        <input type="radio" name="flexRadioDefault" class="custom-control-input" id="customRadio"
                            value="{{ funcionario.id }}" [(ngModel)]="funcionarioSelecionado">
                    </div>
                </td>
                <td>{{ funcionario.id }}</td>
                <td>{{ funcionario.nome }}</td>
                <td>{{ funcionario.dataAdmissao }}</td>
                <td>{{ funcionario.salario }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
            (pageChange)="atualizarFuncionarios()">
        </ngb-pagination>
    </div>

</div>

<ng-template #modalExclusao let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Excluir Funcionario</h4>
    </div>
    <div class="modal-body">
        Deseja realmente excluir esse Funcionario?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Excluir')">Excluir</button>
        <button type="button" class="btn btn-secondary" (click)="modal.close('Cancelar')">Cancelar</button>
    </div>
</ng-template>
