@model LocadoraVeiculos.WebApplication.ViewModels.CupomDeleteViewModel

@section Header {

    @{await Html.RenderPartialAsync("_Header");}
}

<partial name="_Info" model="Model" />

<div>
    <form asp-action="Delete">
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-info">Voltar para a Lista</a>
    </form>
</div>
